$color-grey: #353535;
$color-text: #fff;
$color-HL: #f64e4e;




.banner-container{
    height: 800px;
    width: 100%;
    position: relative;
    

    .banner-bg{
        height: 100%;
        width: 100%;
        background-image: url('https://cdn.zeplin.io/5dc2fe76c82d4954cfd1d481/assets/07a463cc-2270-4ed1-a8ef-cc0a75448fc7.png');
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
    }


}


