$color-grey: #353535;
$color-text: #fff;
$color-HL: #f64e4e;




.banner-container{
    height: 800px;
    width: 100%;
    position: relative;
    

    .banner-bg{
        height: 100%;
        width: 100%;
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
    }


}


